{% extends "model-page.html" %}

{% block content %}
    <h2>Agendamentos</h2>

    <a href="evento">
        <button type="button">Novo Evento</button>
    </a>
    <ul>
        {% for evento in eventos %}
            <li>
                <div class="evento"
                        {% if evento.get_evento_atrasado %}
                            style="color:red"
                        {% endif %}
                    >
                    <div class="text">
                        {{ evento.titulo }}
                    </div>
                    <div class="action">
                        ( <a href="evento/?id={{evento.id}}">Editar</a>
                        / <a href="evento/delete/{{ evento.id }}">Excluir</a> )
                    </div>
                    
                </div>
                    {{  evento.get_data_evento}}
            </li>
        {% endfor %}
    </ul>

<a href="/agenda/lista/1/">
    <button>JSON</button>
</a>
<p>(obs: Apenas eventos a seguir são exibidos)</p>

{% endblock %}