<!DOCTYPE html>
<html lang="en">
<head>
    {% include "model-header.html" %}
</head>
<body>
    <div class="container">
        <header>
            <h1><i>AgendaApp</i></h1>
            <h2>DATA</h2>
            <hr max-width="100%">
        </header>

        <form action="submit" method="POST" style="display: flex; flex-direction: column; justify-content: space-evenly; height: 100%;">{% csrf_token %}
            <div align="center">
                <h1>Login</h1>
            </div>
            <div align="center">
                <label>Usuário:</label>
                <input type="text" name="username">
                <label>Senha:</label>
                <input type="password" name="password">
                <button type="submit">Entrar</button>
            </div>
        </form>
        <br/>
        {% for message in messages %}
            <div align="center">
                <strong>Erro !</strong> {{ message }}
            </div>
        {% endfor %}
    </div>
</body>
</html>