
<!DOCTYPE html>
<html lang="PT-br">
<head>
    {% include "model-header.html" %}
</head>
<body>
    <div class="container">
        <header>
            <h1><i>AgendaApp</i></h1>
            <h2>DATA</h2>
            <hr max-width="100%">
        </header>

        {% block content %} {% endblock %}
        

        <div class="buttons">
            <a href="/agenda/lista/1/">
                <button class="json">JSON</button>
            </a>
    
            <a href="/logout">
                <button class="logout">Logout</button> 
            </a>
        </div>
       

    
        
        
    </div>
    {% include "model-footer.html" %}
</body>
</html>
